
@import url(https://fonts.googleapis.com/css?family=Muli:400,300);
$sans: 'Muli', Verdana, Arial, sans-serif;
$serif: 'PlayfairDisplay', serif;
$mono: 'Courier New', monospace;

@font-face {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;

    src: url('../assets/fonts/icomoon-solis.eot');
    src: url('../assets/fonts/icomoon-solis.eot#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon-solis.ttf') format('truetype'),
    url('../assets/fonts/icomoon-solis.woff') format('woff'),
    url('../assets/fonts/icomoon-solis.svg') format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-city:before {
    content: '\e901';
}
.icon-bell:before {
    content: '\e900';
}
.icon-golden:before {
    content: '\e904';
}
.icon-offline:before {
    content: '\e905';
}
.icon-widget:before {
    content: '\e906';
}
.icon-twitter:before {
    content: '\e902';
}

// EXAMPLE
//
// @font-face {
// font-family: 'Avenir Next LT Pro Condensed';
// font-style: normal;
// font-weight: normal;
// src: local('Avenir Next LT Pro Condensed'), url('fonts/AvenirNextLTPro-Cn.woff') format('woff');
// }

// @font-face {
//   font-family: 'PlayfairDisplay';
//   src: url('fonts/PlayfairDisplay-Regular.eot');
//   src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
//   url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
//   url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
//   url('fonts/PlayfairDisplay-Regular.svg#cardoregular') format('svg');
//   font-weight: 400;
//   font-style: normal;
// }


// @font-face {
//     font-family: 'PlayfairDisplay';
//     src: url('fonts/playfairdisplay-bold-webfont.eot');
//     src: url('fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
//          url('fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
//          url('fonts/playfairdisplay-bold-webfont.woff') format('woff'),
//          url('fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
//          url('fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
//     font-weight: 600;
//     font-style: normal;

// }
