$blue1: #46EAE7;
$blue2: #4A9DCF;
$blue3: #4E50B8;
$blue4: #52009F;
$red: #F44336;

$main-colour      : $blue4;
$secondary-colour : $blue1;
$accent-colour    : $red;
$text-dark        : #616161;
$text-light       : white;

$light: 300;
$normal: 400;

$success-colour   : #83CC61;
$error-colour     : #DE4242;

$bradius          : 2px;

$header-height    : 3rem;
$footer-height    : 4rem;

$side-padding: 2rem;

$s-animation: 0.250s ease-in-out;
