@import 'normalize';
@import 'queries';
@import 'sass-css3-mixins';
@import './css/animate.min.css';
@import './css/tachyons.css';
@import 'fonts';
@import 'variables';
@import 'gridlex';
@import 'utils';

@import 'features/features';
@import 'background/background';
@import 'phone/phone';
@import 'copy/copy';
@import 'footer/footer';

/* Makes border-box properties */
// @include border-box-sizing;

* {
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    font-family: $sans;
    font-weight: $normal;

    overflow-x: hidden;

    color: $text-dark;
    /* Better Font Rendering =========== */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
    font-weight: $light;

    color: $main-colour;

    @include break(not-small) {
        color: $text-light;
    }
}

p {
    font-size: 18px;
    line-height: 1.6;

    color: $text-dark;

    @include break(not-small) {
        color: $text-light;
    }
}

a,
a:visited {
    transition: $s-animation;
    text-decoration: none;

    color: $blue1;

    @include break(small) {
        color: $red;
    }
}

a:hover {
    transition: $s-animation;
    text-decoration: underline;

    color: $red;
}

a.under {
    text-decoration: under;
}

a.none,
a.none:hover {
    text-decoration: none;
}

.full {
    min-height: 100vh;
}

.page {
    width: 100%;
    margin: 0;
}

.app {
    overflow-x: hidden;
}

.main {
    width: 100%;
    min-height: 95vh;
    padding: 0;
}
