.copy {
    @media screen and (min-width: 80em) {
        margin-left: 4rem;
    }
    @media screen and (min-width: 100em) {
        margin-left: 10rem;
    }
}

.gradient-background {
}

.head-body {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.head-centered-group {
    @include break(not-small) {
        margin-top: -2rem;
    }
    @include break(small) {
        margin-top: 2rem;
    }
}

.app-store-badge {
    width: 8rem;
}

.header {
    h1, p {
        color: $text-light;
    }
}

.head-title {
    margin-left: -6px;
}
