footer {
    @include break(small) {
        text-align: center;

        background-color: white;
    }
    @include break(not-small) {
        padding-top: 50vh;
        padding-bottom: 50vh;
    }
    .heart {
        color: $accent-colour;
    }
}
